/************************
  * Custom Variables *
*************************/
:root {
  --radius: 5px;
  --font-family: 'Ubuntu', sans-serif;
  --bg-color: hsl(0, 0%, 95%);
  --color: hsl(228, 4%, 25%);
  --shadow: 0 0 10px 2px rgba(0,0,0,.1);
  --brand-color: hsl(350, 80%, 49%);
}

/************************
  * Page Styling *
*************************/
body {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--color);
}
.container {
  width: 30em; 
  margin: 3.75em auto;
}

/************************
  * Form Styling *
*************************/
.form-container {
  background-color: hsl(0, 0%, 100%);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
}
.form-title {
  font-size: 1.6em;
  font-weight: 500;
  text-align: center;
  padding: 1.25em 1.25em 0.625em;
}
.form-subtitle {
  font-size: 1em;
  text-align: center;
}
.form-body {
  padding: 1.25em;
  min-height: 15em;
}
.form-controls {
  padding: 1.25em;
  background-color: var(--brand-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-hint {
  font-size: 0.8em;
  margin-top: 0.5em;
  color: hsl(0, 0%, 50%);
}

/************************
  * Generic Styling *
*************************/

/* Button */
button {
  border: 0;
  padding: 0.625em 1.25em;
  font-family: inherit;
  font-size: 1em;
  outline-color: cornsilk;
  box-shadow: var(--shadow);
}
button[disabled] {
  opacity: 0.4;
}

/* Textarea */
textarea {
  font-size: 1.2em;
  width: 100%;
  height: 10em;
  resize: none;
}
textarea:focus {
  outline-color: var(--brand-color);
}

/* Label and Input */
label {
  display: block;
  margin-bottom: 1.5em;
}
input[type="radio"] {
  margin-right: 0.8em;
}

/* Progress bar */
.progress {
  display: flex;
  height: 3px;
  overflow: hidden;
  font-size: 0.75rem;
}
.progress-bar {
  background-color: #E3193A;
  transition: width 0.6s ease;
  will-change: width;
}